.set-header {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px 16px 16px 0px;
    border-radius: 8px;
}
.set-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #007A7A;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    flex-shrink: 0;
}
.set-info {
    flex-grow: 1;
}
.set-title {
    font-size: 22px;
    font-weight: 600;
    margin: 0;
}
.set-description {
    font-size: 14px;
    color: #666;
    margin: 4px 0 0;
}
.set-header-actions {
    display: flex;
    align-items: center;
    gap: 16px;
}
.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: #666;
    padding: 4px;
    font-size: 28px;
}

.close-link{
    font-size: 32px;
}

.icon-btn:hover, .close-link:hover{
    color: #E53888;
}
.close-link {
    color: #666;
}